<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://thymeleaf.org">
<head>
    <title>Customers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container w3-margin">
    <div class="w3-bar w3-red" th:replace="~{fragments/NavBar}">Menu Bar</div>
    <h1>
        Add Receipt
        <span th:text="${'for : '+ cust.name}"></span>
    </h1>
    <form class="w3-container" method="post"  th:action="@{/receipts/add}" th:object="${rcptForm}">
        <input type="hidden" name="custId", th:value="${cust.id}">
        <label>Description:</label>
        <input type="text" name="dsc">
        <p>
        <button class="w3-btn w3-gray" type="submit">Add</button>
    </form>
</div>
</body>
</html>