<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://thymeleaf.org">
<head>
    <title>Customers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container w3-margin">
    <div class="w3-bar w3-red" th:replace="~{fragments/NavBar}">Menu Bar</div>
    <h1>Change Name</h1>
    <form class="w3-container" method="post" th:action="@{/customers/change_name}" th:object="${custForm}">
        <input type="hidden" name="custId" , th:value="${cust.id}">
        <p>
            <label>New Name:</label>
            <input class="w3-input" type="text" name="name" th:field="*{name}">
        </p>
        <p>
            <button class="w3-btn w3-blue" type="submit">Change</button>
        </p>
        <p th:if="${#fields.hasErrors()}">
            <label class="w3-text-red">Errors:</label>
        <ul class="w3-ul">
            <li th:each="err : ${#fields.allErrors()}" th:text="${err}" th:class="w3-text-red"></li>
        </ul>
        </p>
    </form>

</div>
</body>
</html>