<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://thymeleaf.org">
<head>
    <title>Customers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container w3-margin">
    <div class="w3-bar w3-red" th:replace="~{fragments/NavBar}">Menu Bar</div>
    <h1>Receipts for the customer: <span th:text="${cust.name}">Bob</span>
    </h1>
    <table class="w3-table w3-striped">
        <tr>
            <th>Id</th>
            <th>Description</th>
        </tr>
        <tr th:each="rcpt: ${receipts}">
            <td th:text="${rcpt.id}">33</td>
            <td th:text="${rcpt.dsc}">Water</td>
        </tr>
    </table>
    <div class="w3-bar w3-panel w3-blue">
        <a class="w3-bar-item" th:href="${'/receipts/add?custId='+cust.id}">
            <button class="w3-btn">Add Receipt</button>
        </a>

    </div>
</body>
</html>